.container {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.background {
  background-image: url("../../images/opened-notebook-near-smartphone-glasses.jpg");
  background-size: cover;
}
.title {
  font-weight: 500;
  font-size: 48;
  text-align: center;
}
