.form {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid slateblue;
  padding: 10px;
}
.label {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.formButton {
  max-width: 300px;
}
