.form {
  width: 320px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-weight: 600;
}
.background {
  background-image: url("../../images/opened-notebook-near-smartphone-glasses_optimazed.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}
